html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

/* disable browser auto-fill highlighting */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

#react-root {
    height: 100%;
}

.flex-container-row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    padding:5px;
}

.flex-container-column {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
}

.flex-item-1-row {
	width: 400px;
    height: 250px;
}

.flex-item-2-row {
    width: 500px;
    min-height: 350px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin:5px;
}

.flex-item-1-column {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.flex-item-2-column {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: red;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}

#hidden {
    display: none;
}
